*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
}

/* shared styles */

:root {
  --primary-color: #FF900E;
  --bg-color: rgba(255, 144, 14, 0.1);
  --dark1-color: #131313;
  --dark2-color: #424242;
  --dark3-color: #727272;
}

.btn{
  background-color: var(--primary-color);
  padding: 20px 24px;
  color: white;
  border-radius: 8px;
  font-size: 1.25rem;
  font-weight: 600;
  border: 1px solid transparent;
  cursor: pointer;
}
.btn:hover{
  background-color: transparent;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  transition:  0.7s ease-in-out;
}
.display-flex{
  display: flex;
}

/* main styles */

header{
  background-color: var(--bg-color);
  overflow: hidden;
}
.navbar{ 
  max-width: 1440px;
  align-items: center;
  justify-content: space-between;
  margin: 50px auto 102px auto;
}
.logo{
  font-size: 2.82rem;
  font-weight: bold;
  color: var(--dark1-color);
}
.navlinks{
  width: 477px;
  justify-content: space-between;
}
.navlinks li{
  list-style: none;
}
.navlinks li a{
  text-decoration: none;
  color: var(--dark2-color);
  font-size: 1.125rem;
  line-height: 26px;
  font-weight: 500;
}
.hero{
  max-width: 1440px;
  margin: 0 auto;
  justify-content: center;
  text-align: center;
}
.hero-items{
  max-width: 868px;
  margin: 0 auto;
}
.hero-items h3{
  font-size: 4rem;
  line-height: 75px;
  color: var(--dark1-color);
  font-weight: bold;
  margin-bottom: 16px;
}
.hero-items p{
  font-size: 1rem;
  color: var(--dark3-color);
  line-height: 26px;
  margin-bottom: 32px;
}
.hero-items div{
  margin-bottom: 50px;
}
.hero-img{
  margin: 0 auto;
}